/* Colors */

/* layout */
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
  min-height: 100vh;
  padding: 4rem 1.5rem;
  position: relative;
}

.main-container {
  display: grid;
  grid-template-columns: 1fr;
  align-items: stretch;
  height: 100%;
  width: 100%;
  min-height: 500px;
  margin: 0 auto;
  border-radius: var(--border-radius);
  overflow: hidden;
}

.attribution {
  position: absolute;
  bottom: 1rem;
  width: 100%;
  color: gray;
  font-size: 11px;
  text-align: center;
  margin-top: 2rem;
  /* transform: translateY(50px); */
}

.attribution a {
  color: var(--accent-cyan);
}

@media (min-width: 768px) {
  .main-container {
    grid-template-columns: repeat(3, 1fr);
    max-width: 920px;
  }
}
