.btn {
  background-color: var(--very-light-gray);
  width: 146px;
  height: 48px;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  border-radius: 25px;
  transition: all 0.3s ease;
}

.btn:hover {
  background-color: transparent;
  color: var(--white);
  border: 1px solid var(--white);
}

.btn:focus-visible {
  outline: 1px dashed var(--white);
  outline-offset: 4px;
}

.btn--orange {
  color: var(--accent-orange);
}
.btn--cyan {
  color: var(--accent-cyan);
}
.btn--dark-cyan {
  color: var(--accent-dark-cyan);
}
