.card {
  display: flex;
  flex-direction: column;
  gap: 36px;
  height: 100%;
  padding: var(--spacing-lg);
}

.card__image {
  width: 64px;
  height: 40px;
}
.card__title {
  text-transform: uppercase;
  font-size: 40px;
  color: var(--light-gray);
}

.card__description {
  font-weight: 300;
  font-size: 15px;
  line-height: 25px;
  color: var(--transparent-white);
  color: rgba(255, 255, 255, 0.75);
}

.card__button {
  margin-top: auto;
}

.card__button:hover {
  background-color: transparent;
  color: var(--white);
  border: 1px solid var(--white);
}

@media (min-width: 768px) {
  .card {
    padding: var(--spacing-lg) var(--spacing-md);
  }
}

@media (min-width: 1024px) {
  .card {
    padding: var(--spacing-lg);
  }
}
