.card {
  display: flex;
  flex-direction: column;
  gap: 36px;
  height: 100%;
  padding: var(--spacing-lg);
}

.card__image {
  width: 64px;
  height: 40px;
}
.card__title {
  text-transform: uppercase;
  font-size: 40px;
  color: var(--light-gray);
}

.card__description {
  font-weight: 300;
  font-size: 15px;
  line-height: 25px;
  color: var(--transparent-white);
}

.card__button {
  margin-top: auto;
}

.card--orange {
  background-color: var(--accent-orange);
}
.card--cyan {
  background-color: var(--accent-cyan);
}
.card--dark-cyan {
  background-color: var(--accent-dark-cyan);
}

@media (min-width: 768px) {
  .card {
    padding: var(--spacing-lg) var(--spacing-md);
  }
}

@media (min-width: 1024px) {
  .card {
    padding: var(--spacing-lg);
  }
}
